.singup
  .tcLogo
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = f.error_notification
    .form-inputs
      = f.input :email, :required => true, :autofocus => true
      = f.input :password, :required => true
      = f.input :password_confirmation, :required => true
      = f.input :rol, label: 'Tipo de usuario', :as => :select, :collection => Role.roles_clean, selected: 'user'
    .form-actions
      = f.button :submit, "Sign up"
  = render "devise/shared/links"
