!!!
%html
  %head
    %title TocartaAdmin
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300", :rel => "stylesheet"}/
    = stylesheet_link_tag    "application",    :media => "all"
    /[if lt IE 8]
      = stylesheet_link_tag  "application-ie", :media => "all"

    = javascript_include_tag "application"
    - if params[:controller] == 'dashboards'
      = javascript_include_tag "//www.google.com/jsapi", "chartkick-tocarta"

    = csrf_meta_tags
  %body
    - if flash.present?
      #flash.flash
        - flash.each do |name, msg|
          %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
            = content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String)

    - if params[:controller] == 'dashboards'
      = render :partial => 'layouts/dashboards/dashboard_topbar'

    #main-container.container-fluid
      - if params[:controller] == 'dashboards'
        %a#menu-toggler{:href => "#"}
          %span
        = render :partial => 'layouts/dashboards/dashboard_sidebar'

      #main-content.clearfix
        #breadcrumbs
        #page-content.clearfix
          = yield

