.dashboards
  .page-header.position-relative
    %h1
      = @restaurant.name
      %small= 'dashboard'

  .row-fluid
    -# = render 'newest_comments_on_dishes2'
    -# = render 'bottom_dishes2'
    = render 'newest_comments_on_dishes'
    = render 'newest_comments_on_restaurant'
  .row-fluid
    = render 'top_dishes'
