!!!
%html
  %head
    %title TocartaAdmin
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:style => "width:100%;height:100%;padding:0;"}
    - if flash.present?
      #flash.flash
        - flash.each do |name, msg|
          %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
            = content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String)
    = yield